{% extends 'base.html' %}
{% block title %}
  بارنامه
{% endblock title %}
{% load static %}
{% load crispy_forms_tags %} 
{% block content %}
<style>
body{margin-top:20px;
background:#eee;
}

/*Invoice*/
.invoice .top-left {
    font-size:65px;
	color:#3ba0ff;
}

.invoice .top-right {
	text-align:right;
	padding-right:20px;
}

.invoice .table-row {
	margin-left:-15px;
	margin-right:-15px;
	margin-top:25px;
}

.invoice .payment-info {
	font-weight:500;
}

.invoice .table-row .table>thead {
	border-top:1px solid #ddd;
}

.invoice .table-row .table>thead>tr>th {
	border-bottom:none;
}

.invoice .table>tbody>tr>td {
	padding:8px 20px;
}

.invoice .invoice-total {
	margin-right:-10px;
	font-size:16px;
}

.invoice .last-row {
	border-bottom:1px solid #ddd;
}

.invoice-ribbon {
	width:85px;
	height:88px;
	overflow:hidden;
	position:absolute;
	top:-1px;
	right:14px;
}

.ribbon-inner {
	text-align:center;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	position:relative;
	padding:7px 0;
	left:-5px;
	top:11px;
	width:120px;
	background-color:#66c591;
	font-size:15px;
	color:#fff;
}

.ribbon-inner:before,.ribbon-inner:after {
	content:"";
	position:absolute;
}

.ribbon-inner:before {
	left:0;
}

.ribbon-inner:after {
	right:0;
}

@media(max-width:575px) {
	.invoice .top-left,.invoice .top-right,.invoice .payment-details {
		text-align:center;
	}

	.invoice .from,.invoice .to,.invoice .payment-details {
		float:none;
		width:100%;
		text-align:center;
		margin-bottom:25px;
	}

	.invoice p.lead,.invoice .from p.lead,.invoice .to p.lead,.invoice .payment-details p.lead {
		font-size:22px;
	}

	.invoice .btn {
		margin-top:10px;
	}
}

@media print {
	.invoice {
		width:900px;
		height:800px;
	}
}
</style>
<div class="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <h5 class="m-0 text-center">
                                جزیات بارنامه
                            </h5>
                        </div>
                        <!-- end col -->
                    </div>
                <!-- end row -->
                </div>
                <!-- end page-title-box -->
            </div>
        </div>
        <!-- end page title -->

        <!-- Page main content starts -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card m-b-30">
                   <div class="card-body">
                      <div class="row">
                        <div class="col-12">
                          <div class="invoice-title">
                            <span class="float-right m-t-0 " style="font-size:17px">
                            تاریخ : {{farebill.farebill_date}} 
                            </span>
                            <span class="m-t-0" style="font-size:17px">
                              نمبر بارنامه :{{ farebill.bill.bill_number }}
                            </span>
                          </div>
                          <hr />

                          <div class="row">
                            <div class="col-6">
                              <p>اسم شرکت: {{farebill.bill.company.name}}
                              <br/>
                              <br/>
                              اسم صاحب بار: {{farebill.bill.consignee.name}}
                              <br/>
                              <br/>
                            </div>
                            
                            <div class="col-6 ">
                              <p class="">
                               نمبر کانتینر: {{farebill.bill.get_container_number_display}}
                              </p>
                              <p class="">
                               شماره تیلیفون صاحب بار: {{farebill.bill.consignee.phone_number}}
                              </p>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-6">
                              <p>نمبر موتر: 23423
                              <br/>
                              <br/>
                              اسم دریور: {{farebill.bill.driver}}
                             
                            </div>
                            
                            <div class="col-6 ">
                              <p class="">
                               ترانسپورت: {{farebill.bill.transport}}
                              </p>
                              <p class="">
                               اسم جنس: {{farebill.bill.commodity}}
                              </p>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-6">
                              <p>تعداد: {{farebill.bill.quantity}}
                              <br/>
                              <br/>
                              <br/>
                              <br/>
                            </div>
                            
                            <div class="col-6 ">
                              <p class="">
                              کرایه: {{farebill.rent}}
                              </p>
                              <p class="">
                              </p>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-6">
                            مصارف حمالی بندر اسلام قلعه: {{farebill.porterage_expenses}}
                              <br/>
                              <br/>
                              <p>کمیشن بارچلانی مبلغ: {{farebill.commission_fee}}
                              <br/>
                              <br/>
                              <br/>
                              <br/>
                            </div>
                            
                            <div class="col-6 ">
                               انوایس، کاپی و اتحادیه مبلغ: {{farebill.invoice_copy}}
                              <br/>
                              <br/>
                              مصارف کمرک اسلام قلعه: {{farebill.custom_expenses}}

                            </div>
                          </div>

                          <div class="row">
                            <div class="col-6">
                            <h3>
                                جمله مبلغ: {{farebill.total_expenses}}
                             </h3>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row " style="margin-top: 50px;">
                        <div class="col-12">
                          <div class="panel panel-default">
                            <div class="">                    
                              <div class="d-print-none mo-mt-2">
                                <div class="float-right">
                                  <a
                                    href="#factor"
                                    class="btn btn-success waves-effect waves-light"
                                    ><i class="fa fa-print"></i
                                  ></a>
                                  <a
                                    href="{% url 'bills-list' %}"
                                    class="btn btn-primary waves-effect waves-light"
                                    >بازکشت</a
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- end row -->
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- Page main content ends -->
        <!-- end row -->
        
    </div>
    <!-- container fluid -->
</div>
<!-- Page content Wrapper -->

</div>
<!-- content -->

        
{% endblock content %}
{% block extra_script %}
<script src="{% static 'assets/js/custom.js' %}"></script>
{% endblock extra_script %}