{% load static %}
<footer class="footer">
    &copy; 2020 طراحی توسط عبدالله حنیف
</footer>

</div>
<!-- End Right content here -->

</div>
<!-- END wrapper -->


<!-- jQuery  -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
<script src="{% static 'assets/js/modernizr.min.js' %}"></script>
<script src="{% static 'assets/js/detect.js' %}"></script>
<script src="{% static 'assets/js/fastclick.js' %}"></script>
<script src="{% static 'assets/js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'assets/js/jquery.blockUI.js' %}"></script>
<script src="{% static 'assets/js/waves.js' %}"></script>
<script src="{% static 'assets/js/jquery.nicescroll.js' %}"></script>
<script src="{% static 'assets/js/jquery.scrollTo.min.js' %}"></script>

<!-- Required datatable js -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Responsive examples -->
<script src="{% static 'plugins/datatables/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables/responsive.bootstrap4.min.js' %}"></script>

<!-- Datatable init js -->
<script src="{% static 'assets/pages/datatables.init.js' %}"></script>

<!--Morris Chart-->
<script src="{% static 'plugins/morris/morris.min.js' %}"></script>
<script src="{% static 'plugins/raphael/raphael.min.js' %}"></script>

<!-- dashboard js -->
<script src="{% static 'assets/pages/dashboard.int.js' %}"></script>

<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<!-- You can alternatively load the minified version -->
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>

<!--Chartist Chart-->
<script src="{% static 'plugins/chartist/js/chartist.min.js' %}"></script>
<script src="{% static 'plugins/chartist/js/chartist-plugin-tooltip.min.js' %}"></script>
<script src="{% static 'assets/pages/chartist.init.js' %}"></script>      

<!--jsPdf and jspdf auto_table-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.13/jspdf.plugin.autotable.min.js" integrity="sha512-AtJGnumoR/L4JbSw/HzZxkPbfr+XiXYxoEPBsP6Q+kNo9zh4gyrvg25eK2eSsp1VAEAP1XsMf2M984pK/geNXw==" crossorigin="anonymous"></script>
<script src="{% static 'js/IRANSansWeb_Light-normal.js' %}"></script>
<!-- App js -->


<!-- Django Bootstrap Modal Forms -->
 
   
<script src="{% static 'assets/js/app.js' %}"></script>
<script>
//   $(document).ready(function () {
//         $("form").parsley();
//       });
</script>
