{% extends "base.html" %}

{% block title %}
خانه
{% endblock title %}


{% block content %}

<div class="page-content-wrapper ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <h4 class="text-center m-0 text-muted">خوش آمدید! <br><br>   سیستم مدیریت اطلاعات شرکت ترانزیت </h4>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- end page-title-box -->
            </div>
        </div>

    </div><!-- container fluid -->

</div> <!-- Page content Wrapper -->

</div> <!-- content -->
{% endblock content %}

{% block extra_script %}

<script>


</script>

{% endblock extra_script %}