{% load static %}
<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
  <button
    type="button"
    class="button-menu-mobile button-menu-mobile-topbar open-left waves-effect"
  >
    <i class="mdi mdi-close"></i>
  </button>

  <div class="left-side-logo d-block d-lg-none">
    <div class="text-center">
      <a href="index-2.html" class="logo"
        ><h3 style="color: #5985ee; font-style: italic">میرویس جمیل</h3></a
      >
    </div>
  </div>

  <div class="sidebar-inner slimscrollleft">
    <div id="sidebar-menu">
      <ul>
        <li>
          <a href="{% url 'home' %}" class="waves-effect">
            <i class="dripicons-home"></i>
            <span>
              داشبورد
              <span class="badge badge-success badge-pill float-right"></span
            ></span>
          </a>
        </li>

        <li class="has_sub">
          <a href="javascript:void(0);" class="waves-effect"
            ><i class="dripicons-briefcase"></i> <span> بارنامه ها </span>
            <span class="menu-arrow float-right"
              ><i class="mdi mdi-chevron-right"></i></span
          ></a>
          <ul class="list-unstyled">
            <li><a href="{% url 'bills-list' %}">لست بارنامه ها</a></li>
            <li><a href="{% url 'bill-create' %}">ثبت بارنامه جدید</a></li>
            <li><a href="{% url 'farebills-list' %}">لست کرایه خطها</a></li>
            {% comment %} <li><a href="">گزارشات</a></li> {% endcomment %}
          </ul>
        </li>

        <li class="has_sub">
          <a href="javascript:void(0);" class="waves-effect"
            ><i class=" mdi mdi-qrcode-scan "></i> <span> اشخاص </span>
            <span class="menu-arrow float-right"
              ><i class="mdi mdi-chevron-right"></i></span
          ></a>
          <ul class="list-unstyled">
            <li><a href="{% url 'consignees-list' %}">لست صاحب مالها </a></li>
            <li><a href="{% url 'consignee-create' %}">ثبت صاحب مال جدید</a></li>
            <li><a href="{% url 'drivers-list' %}">لست دریورها </a></li>
            <li><a href="{% url 'driver-create' %}">ثبت دریور جدید</a></li>
            <li><a href="{% url 'consignee-report' %}">گزارشات</a></li>
          </ul>
        </li>

        <li class="has_sub">
          <a href="javascript:void(0);" class="waves-effect"
            ><i class="mdi mdi-bank "></i> <span> محصول </span>
            <span class="menu-arrow float-right"
              ><i class="mdi mdi-chevron-right"></i></span
          ></a>
          <ul class="list-unstyled">
            <li><a href="{% url 'recieves-list' %}">لست محصول </a></li>
            {% comment %} <li><a href="">گزارشات</a></li> {% endcomment %}
          </ul>
        </li>

        <li class="has_sub">
          <a href="javascript:void(0);" class="waves-effect"
            ><i class="dripicons-copy"></i> <span> حسابات </span>
            <span class="menu-arrow float-right"
              ><i class="mdi mdi-chevron-right"></i></span
          ></a>
          <ul class="list-unstyled">
            <li><a href="{% url 'accounts-list' %}">حسابات رسیده</a></li>
            <li><a href="{% url 'accounts-report' %}">گزارشات</a></li>
          </ul>
        </li>

        <li class="has_sub">
          <a href="javascript:void(0);" class="waves-effect"
            ><i class=" mdi mdi-react "></i> <span>مصارف و دوزبالقها </span>
            <span class="menu-arrow float-right"
              ><i class="mdi mdi-chevron-right"></i></span
          ></a>
          <ul class="list-unstyled">
            <li><a href="{% url 'items-list' %}">لست مصارف روزانه</a></li>
            <li><a href="{% url 'item-create' %}"> ثبت مصارف روزانه</a></li>
            <li><a href="{% url 'expenses-report' %}">گزارشات مصارف</a></li>
            <li><a href="{% url 'dosebolaqs-list' %}">لست دوزبلاقهای </a></li>
            <li><a href="{% url 'dosebolaq-create' %}"> ثبت دوزبلاق جدید</a></li>
            <li><a href="{% url 'dosebolaq-report' %}">گزارشات دوزبلاقها</a></li>
          </ul>
        </li>
        <li class="has_sub">
          <a href="javascript:void(0);" class="waves-effect"
            ><i class="dripicons-rocket"></i> <span> دارایها </span>
            <span class="menu-arrow float-right"
              ><i class="mdi mdi-chevron-right"></i></span
          ></a>
          <ul class="list-unstyled">
            <li><a href="{% url 'property-items-list' %}">نمایش دارایها</a></li>
            <li>
              <a href="{% url 'property-item-create' %}"> ثبت دارایها </a>
            </li>
          </ul>
        </li>
        <li class="has_sub">
          <a href="javascript:void(0);" class="waves-effect"
            ><i class="dripicons-rocket"></i> <span> کارمندان</span>
            <span class="menu-arrow float-right"
              ><i class="mdi mdi-chevron-right"></i></span
          ></a>
          <ul class="list-unstyled">
            <li><a href="">کارمند جدید</a></li>
            <li><a href="">نمایش کارمندان</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
  <!-- end sidebarinner -->
</div>
<!-- Left Sidebar End -->
